.block{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 18px;
<<<<<<< HEAD
   color: rgb(212, 255, 0);
=======
   color: red;
>>>>>>> 1f86cc765cb922ad21253730a1985f74e880cb94

} 
.foto{
    width: 400px;
    height: 300x;
} 
